@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%; /*62.5% = 10px*/
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
:root{
    --mainBg: #ff5500;
    --poppin: 'Poppins', sans-serif;
    --mont: 'Montserrat', sans-serif;
}
/* header section css */
#container #header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    /* border-bottom: 0.1rem solid rgb(240, 239, 239); */
    box-shadow:  0 0 0.5rem rgb(238, 237, 237);
}
#container #header a > img{
    width: 10rem;
}
#container #header .nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    z-index: 3;
}
#container #header .nav a{
    font-size: 1.3rem;
    font-family: var(--poppin);
    padding: 0.3rem 0.6rem;
    transition: all 0.2s linear;
}
#container #header .nav a:hover{
    color: var(--mainBg);
    transform: scale(1.08);
}
#container #header .nav a:nth-child(1){
    color: var(--mainBg);
}
#container #header .nav a:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    position: relative;
}
#container #header #searchIcon{
    font-size: 2.5rem;
    transition: all 0.2s linear;
    cursor: pointer;
}
#container #header #searchIcon:hover{
    color: var(--mainBg);
}